<style>
.nav-pills > li > a {
    background: #334396;
}
.li:hover > a {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}
:hover
.account-masthead {
    min-height: 30px;
    color: #fff;
    background: #fff;
}
.account-masthead .account ul li a {
    display: block;
    color: #334396;
    font-size: 13px;
    font-weight: bold;
    padding: 0 28px;
    line-height: 31px;
}
.account-masthead .account .notifications a span.badge {
    font-size: 12px;
    margin-left: 3px;
    padding: 1px 6px;
    background-color: #ffffff;
    border-radius: 4px;
    text-shadow: none;
    color: #334396;
}
.toolbar .breadcrumb {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    background: red;
    font-size: 18px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.toolbar .breadcrumb {
    -webkit-box-shadow: none;
    background: #FFCD41;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1%;
    align-items: center;
}
.toolbar .breadcrumb a {
    text-shadow: none;
    color: #334396;
}
.account-masthead {
    min-height: 30px;
    color: #fff;
    background: #fff;
}
.masthead .navigation .nav-pills li.active a {
    background-color: #394fc1;
}
.account-masthead .account ul li {
    display: block;
    float: left;
    border-left: 1px solid #e5e5e5;
}
.wrapper {
    border: 1px solid #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    position: relative;
    min-height: 500px;
    background-color: #fff;
}
.module:first-child .module-heading {
    border-radius: 0px;
    border-top-width: 0;
}
.nav-tabs .module-heading .fa:last-child, .btn .fa:last-child {
    margin-right: 3px;
    color: white;
}
.input-group-btn:last-child > .btn {
    z-index: 0;
    background: #334396;
}
.fa:last-child, .fa:last-child, .btn .fa:last-child {
    margin-right: 3px;
    color: #334396;
}
.btn .fa:last-child {
    margin-right: 3px;
    color: white;
}
</style>

{% ckan_extends %}

{% block header_account_logged %}
<li>
  <a href="/user" title="{{ _('User') }}">
    <i class="fa fa-user" ari a-hidden="true"></i>
    <span class="text">{{ _('User') }}</span>
  </a>
</li>
  {{ super() }}
{% endblock %}

{% block header_logo %}
     <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
     <lable style="color: #f0f2f9;font-size: 29px;padding-left: 1rem;" id="divlogo"></lable>
     <lable  id="logo" style="color:#909399bd; font-size:16px;"></lable>
    <script>
      var url = window.location.href;
      console.log(url)
      if(url.split('dataset')[1] == '/') {
        document.getElementById('logo').innerHTML = 'DSO0102';
        document.getElementById('divlogo').innerHTML = ' | ';
      }
      else if(url.split('opend')[1] == '/') {
        document.getElementById('logo').innerHTML = 'DSO0101';
        document.getElementById('divlogo').innerHTML = ' | ';
      }
      else if(url.split('dataset')[1] != '/new' && url.includes('new?') != true ) {
        var count = 0;
        for (let i = 0; i < url.split('dataset')[1].length; i++) {
            if(url.split('dataset')[1][i] == "/"){
                count += 1
            }
        }
        if(count > 1){
            console.log(url)
        }else{
            document.getElementById('logo').innerHTML = 'DSO0103';
            document.getElementById('divlogo').innerHTML = ' | ';
        }
      }
  </script>
{% endblock %}
